<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>index HTML</title>
    </head>
    <body>
    <h1>入力フォーム</h1>
    <h2>記入例</h2>
    
    <p><label for="numberoftell" >電話番号:</label>
        <input  type="text" value="09027733489" ></p>
    <p><label for="numberofaddress" >郵便番号:</label>
            <input  type="text" value="2453387"></p>
    <p><label for="mailaddress" >メールアドレス:</label>
                <input  type="text" value="〇〇gmail.com"><div><button type="button">完了</button></div></p>
                <h2>記入</h2>
    <form action="/result" method="post"><p><label for="numberoftell">電話番号:</label>
    <input id="numberoftell" type="text" name="tell"></p>
    <p><label for="numberofaddress">郵便番号:</label>
        <input id="numberofaddress" type="text" name="addressnumber"></p>
        <p><label for="mailaddress">メールアドレス:</label>
            <input id="mailaddress" type="text" name="mail"><div><button type="submit">完了</button></div></p></form>


    </body>
</html>