<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>index HTML</title>
    </head>
    <body>
    <h1>入力フォーム</h1>
    <h2>記入例</h2>
    
    <p><label for="numberoftell" >電話番号:</label>
        <input  type="text"　value="09027733489" ><button type="button">完了</button></p>
    <p><label for="numberofaddress" >郵便番号:</label>
            <input  type="text" value="2453387"><button type="button">完了</button></p>
    <p><label for="mailaddress" >メールアドレス:</label>
                <input  type="text" value="〇〇gmail.com"><button type="button">完了</button></p>
    <form action="/result" method="post"><p><label for="numberoftell">電話番号:</label>
    <input id="numberoftell" type="text" name="tell"><button type="submit">完了</button></p>
    <p><label for="numberofaddress">郵便番号:</label>
        <input id="numberofaddress" type="text" name="addressnumber"><button type="submit">完了</button></p>
        <p><label for="mailaddress">メールアドレス:</label>
            <input id="mailaddress" type="text" name="mail"><button type="submit">完了</button></p></form>


    </body>
</html>